################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/Ada/AdaMuzik/AdaMuzik.sln
/Desktop/Ada/AdaMuzik/AdaMuzik.sln
